<launch>
  <arg name="robot_name"/>
  <arg name="init_pose"/>
  <arg name="model" default="$(find drone)/urdf/drone2.xacro"/>
  <arg name="namespace" default="D2"/>

  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
        args="$(arg init_pose) -unpause -urdf -model $(arg robot_name) -param robot_description"
        respawn="false" output="screen" />

  <node name="stabilizer" pkg="drone" type="stabilizer.py"
        output="screen" respawn="false">
    <param name="namespace" value="$(arg namespace)"/>
  </node>

  <node name="coords" pkg="drone" type="coordinate_getter.py"
        output="screen" respawn="false">
  </node>

  <node name="d2_control" pkg="drone" type="drone_2_control.py"
        output="screen" respawn="false">
  </node>

  <node name="d2_control_angular" pkg="drone" type="drone_2_rotational.py"
        output="screen" respawn="false">
  </node>

  <node name="d2_master" pkg="drone" type="competition_master_control.py"
        output="screen" respawn="false">
  </node>

</launch>
