<?xml version='1.0'?>
<robot name="drone" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ===== Properties ===== -->
  <xacro:property name="camera_width" value="0.02"/>
  <xacro:property name="camera_length" value="0.02"/>
  <xacro:property name="camera_height" value="0.01"/>
  <xacro:property name="camera_mass" value="0.01"/>

  <xacro:property name="depth_cam_mass" value="0.01"/>
  <xacro:property name="depth_cam_size" value="0.03"/>

  <xacro:property name="chassis_mass" value="19"/>
  <xacro:property name="chassis_collision_x" value="0.20"/>
  <xacro:property name="chassis_collision_y" value="0.20"/>
  <xacro:property name="chassis_collision_z_top" value="0.05"/>
  <xacro:property name="chassis_collision_z_bottom" value="0.05"/>

  <xacro:include filename="$(find drone)/urdf/macros.xacro"/>
  <xacro:include filename="$(find drone)/urdf/materials.xacro"/>

  <!--============================================================================-->
  <!--                                CHASSIS                                     -->
  <!--============================================================================-->
  <link name="chassis">
    <xacro:box_inertial name="chassis" m="${chassis_mass}"
                        x="${chassis_collision_x}"
                        y="${chassis_collision_y}"
                        z="${chassis_collision_z_top + chassis_collision_z_bottom}"/>
    <collision name="chassis_collision">
      <origin xyz="0 0 ${chassis_collision_z_top - (chassis_collision_z_top + chassis_collision_z_bottom)/2}" rpy="0 0 0"/>
      <geometry>
        <box size="${chassis_collision_x} ${chassis_collision_y} ${chassis_collision_z_top + chassis_collision_z_bottom}"/>
      </geometry>
    </collision>

    <visual name="chassis_visual">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/fizzer/ENPH353_Competition/src/drone/meshes/middle.dae"
              scale="1 1 1"/>
      </geometry>
    </visual>
  </link>

  <!--============================================================================-->
  <!--                         FRONT + BACK LINKS                                 -->
  <!--============================================================================-->
  <link name="back_link">
    <xacro:sphere_inertial name="back_link" m="0.5" r="0.05"/>
    <visual name="back_visual">
      <geometry>
        <mesh filename="file:///home/fizzer/ENPH353_Competition/src/drone/meshes/back.dae"/>
      </geometry>
    </visual>
  </link>

  <link name="front_link">
    <xacro:sphere_inertial name="front_link" m="0.5" r="0.05"/>
    <visual name="front_visual">
      <geometry>
        <mesh filename="file:///home/fizzer/ENPH353_Competition/src/drone/meshes/front.dae"/>
      </geometry>
    </visual>
  </link>

  <joint name="F_joint" type="fixed">
    <parent link="chassis"/>
    <child link="front_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <joint name="R_joint" type="fixed">
    <parent link="chassis"/>
    <child link="back_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <!--============================================================================-->
  <!--                        CAMERA (visual only, bottom)                         -->
  <!--============================================================================-->
  <link name="camera_link">
    <xacro:box_inertial name="camera_link" m="${camera_mass}"
                        x="${camera_width}" y="${camera_length}" z="${camera_height}"/>
    <visual name="camera_link_visual">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="${camera_length} ${camera_width} ${camera_height}"/>
      </geometry>
    </visual>
  </link>

  <joint name="camera_joint" type="fixed">
    <parent link="chassis"/>
    <child link="camera_link"/>
    <origin xyz="0 0 0" rpy="0 1.5708 0"/>
  </joint>

  <gazebo reference="camera_link">
  <sensor type="camera" name="rgb_camera_sensor">
    <always_on>true</always_on>
    <update_rate>120</update_rate>

    <camera>
      <horizontal_fov>0.6</horizontal_fov>
      <image>
        <width>1500</width>
        <height>650</height>
        <format>R8G8B8</format>
      </image>
      <clip>
        <near>0.05</near>
        <far>50.0</far>
      </clip>
    </camera>

    <plugin name="gazebo_ros_camera" filename="libgazebo_ros_camera.so">
      <robotNamespace>/D1</robotNamespace>
      <cameraName>rgb_camera</cameraName>
      <frameName>rgb_camera_link</frameName>
      <updateRate>165</updateRate>
    </plugin>
  </sensor>
</gazebo>


  <!--============================================================================-->
  <!--                                  IMU                                       -->
  <!--============================================================================-->
  <link name="imu_link">
    <inertial>
      <mass value="0.01"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="1e-5" iyy="1e-5" izz="1e-5"/>
    </inertial>
    <visual>
      <geometry><sphere radius="0.005"/></geometry>
    </visual>
  </link>

  <joint name="imu_joint" type="fixed">
    <parent link="chassis"/>
    <child link="imu_link"/>
    <origin xyz="0 0 0"/>
  </joint>

  <gazebo reference="imu_link">
    <sensor type="imu" name="imu_sensor">
      <always_on>true</always_on>
      <plugin name="imu_bridge" filename="libgazebo_ros_imu_sensor.so">
        <topicName>imu/data</topicName>
        <frameName>imu_link</frameName>
        <updateRateHZ>144</updateRateHZ>
      </plugin>
    </sensor>
  </gazebo>
    
  <!--=======================-->
  <!--  DEPTH CAMERA LINK    -->
  <!--=======================-->
  <link name="depth_camera_link">
    <inertial>
      <mass value="0.01"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="1e-6" iyy="1e-6" izz="1e-6"/>
    </inertial>

    <visual name="depth_cam_visual">
      <geometry>
        <box size="0.03 0.03 0.03"/>
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <material><color rgba="0 0 1 1"/></material>
    </visual>
  </link>

  <!-- Mount it under the chassis -->
  <joint name="depth_camera_mount" type="fixed">
    <parent link="chassis"/>
    <child link="depth_camera_link"/>
    <!-- Point DOWNWARD: rpy = -90deg roll -->
    <origin xyz="0 0 0" rpy="0 1.5708 0"/>
  </joint>

  <!--=======================-->
  <!--  SENSOR ON THE LINK   -->
  <!--=======================-->
  <gazebo reference="depth_camera_link">
    <sensor type="depth" name="depth_camera_sensor">
      <always_on>true</always_on>
      <update_rate>150</update_rate>

      <camera>
        <horizontal_fov>1.1</horizontal_fov>
        <image>
          <width>300</width>
          <height>150</height>
          <format>L8</format>
        </image>
        <clip>
          <near>0.05</near>
          <far>40.0</far>
        </clip>
      </camera>

      <plugin name="gazebo_ros_depth_camera" filename="libgazebo_ros_depth_camera.so">
        <camera_name>D1/depth_camera</camera_name>
        <frame_name>depth_camera_link</frame_name>
        <update_rate>120</update_rate>
        <robotNamespace>/D1</robotNamespace>
      </plugin>

    </sensor>
  </gazebo>

  <!--============================================================================-->
  <!--                           DRONE CONTROL PLUGIN                             -->
  <!--============================================================================-->
  <gazebo>
    <plugin name="drone_control" filename="libSimpleBodyDroneControlPlugin.so">
      <namespace>D1</namespace>
    </plugin>
  </gazebo>

</robot>
